.title {
  font-family: "Brush Script MT", cursive, sans-serif;
  color: #000000;
  text-align: center;
}

.canvas {
  border: 1px solid #000000;
  background-color: #fff;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  display: block;
  margin: 20px auto;
  border-radius: 8px;
}

.button-container {
  text-align: center;
  margin-top: 10px;
}

.button {
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.gray-button {
  background-color: #353535;
  color: white;
}

.orange-button {
  background-color: #d85e17;
  color: white;
}

.thickness-button {
  background-color: #229726;
  color: white;
  border-radius: 50px;
}

.thickness-button.selected {
  border: 4px solid rgb(58, 58, 58);
  transform: scale(1.05);
  transition: all 0.1s ease;
}

.colorPicker {
  margin-top: 10px;
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
}
